<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Atividade Formulário</title>

    <link rel="stylesheet" href="/static/styles/styles.css" />

    <script src="/static/scripts/script.js" defer></script>
  </head>
  <body>
    <!-- <header>
      <a href="" class="logo">LOGO</a>
      <nav>
        <a href="">Home</a>
        <a href="/sobre">Sobre</a>
        <a href="/cadastro">Cadastro</a>
        <a href="/login">Login</a>
      </nav>
    </header> -->
    <%- include("menu") %>

    <div class="container_rain">
      <span class="cloud"></span>
      <span class="cloud"></span>
      <span class="cloud"></span>
    </div>

    <section class="container">
      <div class="image_container">
        <h1>Sobre a Nossa Empresa</h1>
        <p>
          Compartilhe suas aventuras e <br />
          descubra novos lugares ao redor do mundo!
        </p>
      </div>
      <div style="font-size: 32px"><%- include("usertable") %></div>
    </section>
    <%- include("footer") %>
  </body>
</html>
