<header>
  <img
    id="logo"
    src="/static/images/Design sem nome (1).png"
    alt="Logo do site"
  />
  <nav>
    <a href="">Home</a>
    <a href="/sobre">Sobre</a>
    <a href="/cadastro">Cadastro</a>
    <a href="/login">Login</a>
  </nav>
</header>
