<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Atividade Formulário</title>

    <!--LINK CSS-->
    <link rel="stylesheet" href="/static/styles/styles.css" />

    <!--LINK JAVA-->
    <script src="/static/scripts/scripts.js" defer></script>
  </head>
  <body>
    <%- include("menu") %>
    <div class="container_rain">
      <span class="cloud"></span>
      <span class="cloud"></span>
      <span class="cloud"></span>
    </div>
    <section class="container">
      <div class="image_container">
        <h1>
          Olá! Bem-vindo a: <br />
          Sobre nós!
        </h1>
        <p>
          sinta-se em casa, cadastre-se em nosso site venha nos conhecer
          melhor!<br />
        </p>
      </div>
    </section>
    <footer><p>&copy; Direito reservado! 2025</p></footer>
  </body>
</html>
